<div class="header">
    <div class="container">
        <h1>Change lists</h1>
    </div>
</div>
<div class="container">
    <div class="btn-group" role="group" aria-label="Toolbar">
        <button class="btn btn-default" role="button" disabled="disabled">
            <span class="glyphicon glyphicon-plus"></span> Add change list
        </button>
        <button class="btn btn-default" role="button" disabled="disabled">
            <span class="glyphicon glyphicon-repeat"></span>
            Simulate activity
        </button>
    </div>
    <grid runs="runs"></grid>
</div>